html {
  background-color: #181a24;
}

body {
  color: #f3f4f6;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #181a24;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 10px;
  border: 2px solid #0e141c;
}

/* Effets au survol pour les cartes */
.bg-gray-800:hover,
.bg-light-blue:hover {
  border: 2px solid #3b82f6;
  box-shadow: 0 4px 10px rgba(60, 165, 250, 0.3);
}

a.GreyRowBox-sc-1xo9c6v-0.ServerRow__StatusIndicatorBox-sc-1ibsw91-2.dyLna-D {
  background-color: #0e141c !important;
}

a.GreyRowBox-sc-1xo9c6v-0.ServerRow__StatusIndicatorBox-sc-1ibsw91-2.dyLna-D.jbVWLN {
  background-color: #0e141c !important;
}

div.SubNavigation-sc-lfuaoi-0.jZPsWO.fade-appear-done.fade-enter-done {
  background-color: transparent !important;
}

div.GreyRowBox-sc-1xo9c6v-0 {
  background-color: #0e141c !important;
}

div.style-module_1n_DiqmT {
  background-color: transparent !important;
  padding: 5px !important;
}

button.Button__ButtonStyle-sc-1qu1gou-0.dLAOsI {
  background-color: #3b82f6 !important;
  border: none !important;
}

div.SettingsContainer___StyledDiv6-sc-1e5ycmz-7.bzLcIU {
  border-left: 4px solid #3b82f6 !important;
}

label.Label-sc-g780ms-0.eDArzA {
  color: #60a5fa !important;
}

button.style-module_4LBM1DKx.style-module_3kBDV_wo {
  background-color: #3b82f6 !important;
}

div.xterm-viewport {
  background-color: #181a24 !important;
  border-radius: 2px !important;
}

div.xterm-viewport::-webkit-scrollbar-thumb {
  background-color: #3b82f6 !important;
}

div.LoginFormContainer___StyledDiv-sc-cyh04c-3 {
  background-color: #0e141c !important;
}

img.LoginFormContainer___StyledImg-sc-cyh04c-5 {
  padding: 0 20px !important;
}

div.ScheduleEditContainer___StyledDiv-sc-1fhsmlc-0 {
  background-color: #0e141c !important;
}

div.grid.grid-cols-6.gap-2.md:gap-4.col-span-4.lg:col-span-1.order-last.lg:order-none {
  background-color: #0e141c !important;
}

div.w-full.bg-neutral-900.shadow-md.overflow-x-auto {
  background-color: #0e141c !important;
}

div.icon.mr-4 {
  background-color: #0e141c !important;
}

a.style-module_35MPv1CD.style-module_35MPv1CD.active {
  background-color: #0e141c !important;
}

.style-module_1WqkLT9X {
  background-color: #0e141c !important;
}

p.input-help {
  color: #60a5fa !important;
}

input.peer.style-module_3TDo--Tn:focus {
  border-bottom: 2px solid #3b82f6;
  border-radius: 10px;
}

input.Input-sc-19rce1w-0.jqTCDz,
textarea.Input__Textarea-sc-19rce1w-1.kKFWRA {
  background-color: rgba(14, 20, 28, 0.3) !important;
  border: 2px solid #002547 !important;
  color: #f3f4f6 !important;
}

button.Button__ButtonStyle-sc-1qu1gou-0.cDkCmT.FileEditContainer___StyledButton2-sc-48rzpu-11.ddQUtE {
  background-color: #3b82f6 !important;
}

div.TitledGreyBox___StyledDiv2-sc-gvsoy-1.jRrWLs {
  background-color: #0e141c !important;
}

div.CodeMirror {
  background-color: #0e141c !important;
}

div.ContentBox___StyledDiv-sc-mjlt6f-2.iGOcRf {
  background-color: #0e141c !important;
}

textarea.Input__Textarea-sc-19rce1w-1.kKFWRA {
  background-color: #0e141c !important;
}

div.TitledGreyBox___StyledDiv-sc-gvsoy-0.oLbNP {
  background-color: #0e141c !important;
}

div.grid.grid-cols-10.py-4.border-b-2.border-gray-800.last:rounded-b.last:border-0.group {
  background-color: #0e141c !important;
}

.group {
  background-color: #0e141c !important;
}

.GreyRowBox-sc-1xo9c6v-0 {
  background-color: #0e141c !important;
}
